@import url(./__item/form__item.css);
@import url(./__item/_size/form__item_size_small.css);
@import url(./__cover/form__cover.css);
@import url(./__select/form__select.css);
@import url();
@import url();

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 540px;
}