.card__link {
    display: block;
    text-align: center;
    width: 60px;
    margin: 0 auto 25px;
    padding: 0;
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
    text-decoration: none;
    color: #ED4C5C;
}