.form__button {
    width: 160px;
    min-height: 50px;
    color: white;
    background-color: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    transition: background-color 0.3s linear;
}

.form__button:hover {
    background-color: transparent;
    color: black;
}