.header__cover {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    width: 1440px;
    height: 782px;
    z-index: -1;
}