.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 39px;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 11px;
    padding: 0;
    color: #101010;
}