.header__button-sing-up {
    margin: 0 auto;
    padding: 0;
    width: 160px;
    min-height: 60px;
    background-color: white;
    color: #ED4C5C;
    border: 1.5px solid white;
    transition: background-color 0.3s linear;
}

.header__button-sing-up:hover {
    background-color: transparent;
    color: white;
}