.form__style {
    position: absolute;
    bottom: 98px;
    right: 23px;
    width: 14px;
    height: 14px;
    background-image: url(../../../images/select.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 14px 14px;
    z-index: 1;
    pointer-events: none;
}