@import url(./__column/footer__column.css);
@import url(./__title/footer__title.css);
@import url(./__text/footer__text.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__cover/footer__cover.css);
@import url(./__list/footer__list.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);
@import url(./__email/footer__email.css);
@import url(./__info/footer__info.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__social/footer__social.css);
@import url(./__socail-item/footer__socail-item.css);
@import url(./__payments/footer__payments.css);
@import url(./);
@import url(./);
@import url(./);
@import url(./);
@import url(./);

.footer {
    padding: 85px 0 0 166px;
    background-color: #FAFAFA;
}